<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title> Home </title>
</h:head>

<h:body>

	<b:navBar brand="Data C-19" brandHref="#" fluid="true" inverse="true">
	  <b:navbarLinks>
	    <b:navLink value="Inicio" href="search.xhtml"></b:navLink>
	    <b:navLink value="Acerca de" href="#"></b:navLink>
	  </b:navbarLinks>
	  <b:navbarLinks pull="right" styleClass="hidden-xs">
	    <b:dropMenu value="Cuenta">
	      <b:navLink value="Action" href="#"></b:navLink>
	      <b:navLink value="Another action" href="#"></b:navLink>
	      <b:navLink value="Something else here" href="#"></b:navLink>
	      <b:navLink></b:navLink>
	      <b:navLink header="Nav header"></b:navLink>
	      <b:navLink value="Separated link" href="#"></b:navLink>
	      <b:navLink value="One more separated link" href="#"></b:navLink>
	    </b:dropMenu>
	  </b:navbarLinks>
	</b:navBar>
	<h:panelGroup> 
		<b:container fluid="true">
			<b:row class="mt-5">
				<b:column col-md="6">
					<b:row>
						<b:column class="text-center">
							<h2>Resumen de datos de usuario</h2>
						</b:column>
					</b:row>
					
					<b:row>
						<b:column col-md="6" class="text-center">
							<img src="https://images-na.ssl-images-amazon.com/images/I/81A7bQl%2BRML._UX569_.jpg" alt="user-img" width="200px"> </img>
						</b:column>
						<b:column col-md="6">
							<b:row>
								<b:column col-md="6">
									<b>Nombres:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeNames}</span>
								</b:column>
							</b:row>
							<b:row>
								<b:column col-md="6">
									<b>Apellidos:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeLastNames}</span>
								</b:column>
							</b:row>
							<b:row>
								<b:column col-md="6">
									<b>Estado covid:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeStatus}</span>
								</b:column>
							</b:row>
							<b:row>
								<b:column col-md="6">
									<b>Rol:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeRole}</span>
								</b:column>
							</b:row>
							<b:row>
								<b:column col-md="6">
									<b>Reporta síntomas:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeIsReport}</span>
								</b:column>
							</b:row>
							<b:row>
								<b:column col-md="6">
									<b>Prueba Covid:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeIsProbe}</span>
								</b:column>
							</b:row>
							<b:row>
								<b:column col-md="6">
									<b>Contacto con positivo:</b>
								</b:column>
								<b:column col-md="6">
									<span> #{symptomReportBean.homeIsContact}</span>
								</b:column>
							</b:row>
						</b:column>
					</b:row>
					<b:row style="margin-top: 1rem;">
						<b:column col-md="6" style="text-align:center;">
							<h4>Estado de la Universidad:</h4>
						</b:column>
						<b:column col-md="6">
							<b><span class="#{symptomReportBean.homeUnvStatusClass}" style="font-size: larger;">#{symptomReportBean.homeUnvStatus}</span></b>
						</b:column>
					</b:row>
					<h:panelGroup rendered="#{symptomReportBean.homeIsSymptoms}" style="margin-top: 5rem;">
						<b:column col-md="6" style="text-align:center;">
							<h4>Sintomas presentados:</h4>
						</b:column>
						<b:column col-md="6">
							<b><span>#{symptomReportBean.homeSymptoms}</span></b>
						</b:column>
					</h:panelGroup>
				</b:column>
				<b:column col-md="6">
					<b:row>
						<b:column class="text-center">
							<h2>Datos Nacionales</h2>
						</b:column>
					</b:row>
					<b:row>
						<b:column class="text-center">
							<a href="https://www.minsalud.gov.co/salud/publica/PET/PublishingImages/Paginas/Covid-19_copia/1609712467752_030121_post_coronavirus_baja.jpg">
                            	<img src="https://www.minsalud.gov.co/salud/publica/PET/PublishingImages/Paginas/Covid-19_copia/1609712467752_030121_post_coronavirus_baja.jpg" alt="data-nacional" height="400px"> </img>
                        	</a>
						</b:column>
					</b:row>
				</b:column>
			</b:row>
			
		</b:container>
	</h:panelGroup> 
</h:body>
</html>
