<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:b="http://bootsfaces.net/ui" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title> Reporte de Contacto Positivo </title>
</h:head>

<h:body>
    <b:navBar brand="Data C-19" brandHref="#" fluid="true" inverse="true">
        <b:navbarLinks>
            <b:navLink value="Inicio" href="search.xhtml"></b:navLink>
            <b:navLink value="Acerca de" href="#"></b:navLink>
        </b:navbarLinks>
        <b:navbarLinks pull="right" styleClass="hidden-xs">
            <b:dropMenu value="Cuenta">
                <b:navLink value="Action" href="#"></b:navLink>
                <b:navLink value="Another action" href="#"></b:navLink>
                <b:navLink value="Something else here" href="#"></b:navLink>
                <b:navLink></b:navLink>
                <b:navLink header="Nav header"></b:navLink>
                <b:navLink value="Separated link" href="#"></b:navLink>
                <b:navLink value="One more separated link" href="#"></b:navLink>
            </b:dropMenu>
        </b:navbarLinks>
    </b:navBar>

    <b:container fluid="true">
        <b:row class="text-center">

            <b:column>
                
				<h2>Sistema DataC-19</h2>

                <!-- user session, input identification -->
				<h:form id="form" horizontal="true" >
					<b:column span="2" offset="4">
						<b:inputText placeholder="Identificación" required="true" value="#{symptomReportBean.tmpID}" id="txtIde" mask="numeric" />
					</b:column>
					<b:column span="2">
						<b:commandButton value="Buscar" update="@form"  action="#{symptomReportBean.search}" look="primary" style="width:100%" />
					</b:column>
					<b:column span="2">
      					<b:message for="txtIde" />
    				</b:column>					
				</h:form>

               <h:panelGroup style="margin-top: 5rem;">
               		<b:row >
						<h:form>
							<b:column>
								<b:buttonGroup size="lg"> 
									<b:button value="Ver estado de la persona" look="info" href="home.xhtml"/>
									
									<b:button value="Reporte de Síntomas" iconAwesome="exclamation-triangle" look="danger" href="sintoma.xhtml"/>
								</b:buttonGroup>
							</b:column>
						</h:form>
					</b:row>
                </h:panelGroup>

            </b:column>

        </b:row>
    </b:container>

</h:body>

</html>