<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:b="http://bootsfaces.net/ui" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title> Reporte de Contacto Positivo </title>
</h:head>

<h:body>
    <b:navBar brand="Data C-19" brandHref="#" fluid="true" inverse="true">
        <b:navbarLinks>
            <b:navLink value="Inicio" href="search.xhtml"></b:navLink>
            <b:navLink value="Acerca de" href="#"></b:navLink>
        </b:navbarLinks>
        <b:navbarLinks pull="right" styleClass="hidden-xs">
            <b:dropMenu value="Cuenta">
                <b:navLink value="Action" href="#"></b:navLink>
                <b:navLink value="Another action" href="#"></b:navLink>
                <b:navLink value="Something else here" href="#"></b:navLink>
                <b:navLink></b:navLink>
                <b:navLink header="Nav header"></b:navLink>
                <b:navLink value="Separated link" href="#"></b:navLink>
                <b:navLink value="One more separated link" href="#"></b:navLink>
            </b:dropMenu>
        </b:navbarLinks>
    </b:navBar>

    <b:container fluid="true">
        <b:row>

            <b:column>
                <b:row>
                    <b:column class="text-center">
                        <h2>Reporte de síntomas</h2>
                    </b:column>
                </b:row>
                
                <b:row>
                    <b:column class="text-center">
                        <h3>Marque la casilla correspondiente si usted presenta alguno de los siguientes
                            síntomas
                        </h3>
                    </b:column>
                </b:row>

               <h:panelGroup>
               		<b:form id="reportForm" inline="true">
	                    <b:container fluid="true">
	                    
	                        <b:row>
	                        	<b:column class="text-left">
			                        <strong>Sintomas más habituales</strong>
			                    </b:column>
	                            <b:row>
	                                <b:column medium-screen="4">
	                                	<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[0]}" caption="Fiebre" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/fiebre.png" alt="img-fiebre" height="70px"></img>
	                                </b:column>
	                                <b:column medium-screen="4">
	                                	<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[1]}" caption="Tos seca" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/tos-seca.png" alt="img-tos-seca" height="70px"></img>
	                                </b:column>
	                                <b:column medium-screen="4">
		                                <b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[2]}" caption="Cansancio o Dificultad para Respirar" />
		                                <img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/dificultad-respiratoria.png" alt="img-tos-seca" height="70px"></img>
	                                </b:column>
	                               
	                            </b:row>
	                        </b:row>
	                        
	                        <!-- Line Jump -->
	                        <b:row>
								<b:column medium-screen="10">
									<br></br>
								</b:column>
							</b:row>
							
	                        <b:row>
	                        	
	                        	<b:column class="text-left">
			                        <strong>Sintomas menos frecuentres</strong>
			                    </b:column>
	                           
	                            <b:row>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[3]}" caption="Dolores y Molestias" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/dolor-cuerpo.png" alt="img-dolor" height="70px"></img>
	                            	</b:column>
	                            	<b:column  medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[4]}" caption="Dolor de Cabeza" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/dolor-cabeza.PNG" alt="img-dolor-cabeza" height="70px"></img>
	                            	</b:column>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[5]}" caption="Cangestion nasal" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/congestion-nasal.PNG" alt="img-congestion-nasal" height="70px"></img>
	                            	</b:column>
	                            </b:row>
	                            <b:row>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[6]}" caption="Conjuntivitis" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/conjuntivitis.PNG" alt="img-conjuntivitis" height="70px"></img>
	                            	</b:column>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[7]}" caption="Dolor de Garganta" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/dolor-garganta.png" alt="img-dolor-garganta" height="70px"></img>
	                            	</b:column>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[8]}" caption="Diarrea" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/diarrea.PNG" alt="img-diarrea" height="70px"></img>
	                            	</b:column>
	                            </b:row>
	                            <b:row>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[9]}" caption="Perdida de Gusto" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/olfato-gusto.png" alt="img-gusto" height="70px"></img>
	                            	</b:column>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[10]}" caption="Perdida de Olfato" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/olfato-gusto.png" alt="img-olfato" height="70px"></img>
	                            	</b:column>
	                            	<b:column medium-screen="4">
	                            		<b:selectBooleanCheckbox value="#{symptomReportBean.tmpSymptoms[11]}" caption="Erupciones Cutáneas" />
	                                	<img src="https://s3.amazonaws.com/carlostoro-cv.com/covid/img/erupciones-cutaneas.PNG" alt="img-erupciones-cuataneas" height="70px"></img>
	                            	</b:column>
	                            </b:row>
	                            
	                            <!-- Line Jump -->
		                        <b:row>
									<b:column medium-screen="10">
										<br></br>
									</b:column>
								</b:row>
	                                
                                <b:inputText label="Otros:" value="#{symptomReportBean.tmpOther}" />
	                            
	                        </b:row>
	                        
	                        <!-- Line Jump -->
	                       
	                        
	                        <b:row class="text-center">
			                    <b:commandButton id="registryButton" value="Registrar" update="@form"  look="success" action="#{symptomReportBean.recordSymptoms}"/>
			                    <b:button value="Cancelar" href="search.xhtml" />
		                	</b:row>
	                    </b:container>
                    </b:form>
                </h:panelGroup>

            </b:column>

        </b:row>
    </b:container>

</h:body>

</html>